body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


span.field-validation-error {
    color: red;
    font-weight: bold;
}

/*Bootstrap Override*/
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}
    
.navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

    
.navbar-inverse .navbar-brand {
        color: #fff;
    }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", "Helvetica","Arial", "sans-serif";
}

.form-group {
    margin-bottom: 20px;
}

label {
    
    margin-bottom: 6px;
    font-size: small;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #66e9a8;
}

.form-control{
    border-radius:8px;
    font-size:17px;
}

.btn{
    padding : 8px 18px;
    font-size: 15px;
    border-radius:8px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #d80000;
}

.dropdown-menu{
    -webkit-box-shadow: none;
    box-shadow:none;
}

.navbar-inverse .navbar-brand {
    font-weight: 700;
    font-size: x-large;
}

/*Page level style*/

.gigs{
    list-style:none;
    padding:2px 200px;
}

.gigs > li
{
    position:relative;
    margin-bottom: 30px;
    
}

 .gigs > li .date {
        background-color: red;
        width: 50px;
        padding: 2px;
        text-align: center;
        border-radius:5px;
 }

.gigs > li .date .month {
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        padding: 2px;
}

.gigs > li .date .day {
        font-size:medium;
        font-weight: bold;
        padding: 2px;
        background-color:white;
}

.gigs > li .details {

    position:absolute;
    top:0;
    left:70px
}

    .gigs > li .details .artist{
        font-weight:bold;
    }

    .gigs > li .details .genre {
    padding-top:5px;
    }